* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {   
    background-image: linear-gradient(to right, white 55%, #6ec5ce 45%);
    font-family: 'Roboto', sans-serif;
}

body.subscription {   
    background-image: linear-gradient(to right,#6ec5ce 45%, white 45%);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 90%;
}


/* COLUNA ESQUERDA */

.col-left > a {
    text-decoration: none;
}

.logo-dunder {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 2em;
    font-weight: 150;
    color: black;
    letter-spacing: -1.2px;
}

.col-left{
    width: 50%;
    height: 100%;
    text-align: left;
    padding-left: 3em;
    padding-top: 50px
}

.main-title{
    font-weight: 300;
    font-size: 2em;
    font-weight: 150;
    color: black;
    letter-spacing: -1.2px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.5em;
}

.main-area-text{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-area-text > p {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.index-main-text > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.index-main-text > a:hover{
    text-decoration: underline;
    color: #6ec5ce;
}

.connect-button{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-transform: uppercase;
}

.connect-button > p {
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1%;
    color: black;
}

.connect-button > p:hover{
    text-decoration: underline;
    color: #6ec5ce;
}


.icon-git-hub-connect{
    width: 1.5em;
}

/* COLUNA DIREITA */

.col-right {
    width: 40%;
    margin-right: 3em;
}

.subscription .icon {
    filter: invert(80%) sepia(39%) saturate(446%) hue-rotate(135deg) brightness(85%) contrast(88%);
}

.icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 2.4em;
    float: right;
    padding-top: 44px;
    padding-right: 1.5%;
}

.all-images{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 15%;
}
.img1{
    width: 40%;
}

.subscription .img1{
    margin-left: 12%;
    margin-top: 10%;
}

.img2{
    width: 30%;
}

#titulo-inscrição{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: #000000;
}

form label{
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

form input{
    width: 94%;
}

form select{
    width: 100%;
}

form input, form select{
    border: 1px solid #898989;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.group{
    display: inline-grid;
    width: 47%;
    margin: 0 10px 0 0;
}

form button[type="submit"]{
    display: table;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    background-color: #6ec5ce;
    padding: 5px 78px;
    color: #fff;
}

